* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e3f5f5;
}

section {
  padding-bottom: 80px;
}

header {
  margin-bottom: 70px;
}

nav.navbar {
  display: flex;
  align-items: center;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: radial-gradient(
    137.85% 1032.58% at -21.73% 36.36%,
    #53eaea 0%,
    rgba(172, 228, 218, 0) 100%
  );
  border-bottom: 1px solid #06acb8;
}

nav.navbar > .navbar-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background: white;
  border-top: 1px solid #06acb8;
}

nav.navbar .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.navbar .nav-link > div {
  display: none;
}

nav.navbar > form {
  display: flex;
  margin: auto;
  padding: 12px 0;
}

nav.navbar > form > input {
  border-radius: 10px 0 0 10px;
}

nav.navbar > form > button {
  border-radius: 0 10px 10px 0 !important;
}

.offerte_box {
  margin-top: 1.25rem;
}

#offerteCarousel .carousel-item > .card {
  display: flex;
  border-radius: 10px;
  margin: 0 30px 0;
}

#offerteCarousel .carousel-item > .card > .row {
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: stretch;
  margin-bottom: 1rem;
}

#offerteCarousel .carousel-item > .card > .row img {
  height: 100%;
  padding-top: 1rem;
}

#categorie ul figure > img {
  height: 128px;
  object-fit: fill;
}

.carousel-control-prev,
.carousel-control-next {
  display: flex;
  width: fit-content;
}

.carousel-control-prev {
  margin-left: 2rem;
}

.carousel-control-next {
  margin-right: 2rem;
}

#carouselProdottiConsigliati {
  z-index: 5;
}

#carouselProdottiConsigliati .carousel-inner {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 2rem;
  margin-left: 2rem;
}

#carouselProdottiConsigliati .carousel-inner::-webkit-scrollbar {
  display: none;
}

#carouselProdottiConsigliati .card {
  margin: 0;
}

#carouselProdottiConsigliati .card:last-child {
  margin-right: 2rem;
}

#categorie {
  margin: 33px 0;
}

#categorie > h1,
#prodotti-consigliati > h1 {
  margin: 0 0 14px 30px;
}

.registration,
.login,
.modify {
  justify-content: center;
}

.registration > h1,
.login > h1,
.modify > h1 {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 35px 0;
  text-align: center;
}

form.inputs {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 1.875rem;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fields,
form.inputs > .row:last-child {
  padding: 0 12px;
}

.fields .row,
.fields .row > * {
  padding: 0;
  margin: 0;
}

.registration > form.inputs > .fields,
.modify > form.inputs > .fields {
  gap: 55px;
}

.registration > form.inputs > .fields > .row,
.registration > form.inputs > .fields .addr-form,
.modify > form.inputs > .fields > .row,
.modify > form.inputs > .fields .addr-form {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

form.inputs > .err-msg {
  margin: 2.75rem 0;
  display: none;
  align-self: center;
}

form.inputs > .err-msg p {
  font-weight: lighter;
  font-style: italic;
  color: #c80000;
  font-size: small;
}

form.inputs > .fields > .row label {
  padding-top: 0;
  padding-bottom: 0;
  align-self: center;
}

form.inputs > .fields > .row .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: red;
  background: none;
  padding: 0.375rem 0.75rem;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: currentColor;
  background: none;
  padding: 0.375rem 0.75rem;
}

.fields .addr-form > .row:nth-child(2) {
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
}

.fields .addr-form > .row:nth-child(2) > div:nth-child(1) {
  width: auto;
  flex-grow: 1;
}

.fields .addr-form > .row:nth-child(2) > div:nth-last-child(2) {
  flex-grow: 1;
}

.registration > form.inputs > div:last-child,
form.inputs > .btn {
  margin-top: 45px;
  align-self: center;
}

.login > form.inputs > .fields {
  gap: 2rem;
}

.login > form.inputs > .row:last-child {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

form.inputs > .row:last-child a {
  color: black;
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
  font-size: 1rem;
}

.modify > form.inputs > .row:last-child {
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
  gap: 1rem;
  text-align: center;
}

.btn.outline_secondary {
  background-color: white;
  border-radius: 10px;
  border: 3px solid #06acb8;
  color: #06acb8;
}

.btn.primary {
  text-align: center;
  background-color: #06acb8;
  border-radius: 10px;
  color: white;
}

.btn.primary-dark {
  align-self: flex-end;
  padding: 0.1rem 0.8rem;
  border-radius: 10px;
  background: #324b4b;
}

.outline_primary {
  flex-grow: 1;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background: white;
  border: 3px solid #324b4b;
  border-radius: 10px;
  color: #324b4b;
}

.btn-danger {
  border-radius: 10px;
}

.btn-settings{
  padding: 0;
  margin: 0;
  font-family: initial;
}

@media (min-width: 400px) {
  .fields .addr-form > .row:nth-child(2) > div:nth-child(2) {
    flex-grow: 0 !important;
    width: 25%;
    padding-left: 0;
  }

  .fields > .addr-form > .row:nth-child(2) > div:nth-child(1) {
    padding-right: 0;
  }
}

.userCart > h1 {
  font-size: 10vw;
}

.grid-container > div:nth-child(1) {
  grid-area: one;
}

.grid-container > #notifiche {
  grid-area: two;
  display: flex;
  justify-content: end;
  align-items: center;
}

.grid-container > div:nth-child(3) {
  grid-area: three;
}

.grid-container > div:nth-child(4) {
  grid-area: four;
}

.grid-container > div:nth-child(5) {
  grid-area: five;
}

.grid-container > #logout {
  grid-area: six;
}

.grid-container {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "one two two"
    "three three three"
    "four four four"
    "five five five"
    "six six six";
  padding: 0;
  margin-top: 2.375rem;
}

.grid-container .container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.grid-container .row {
  padding: 0;
  margin: 0;
}

.card{
  border-radius: 10px;
  padding: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.card-body .card-text {
  font-weight: lighter;
}

.grid-container > #notifiche > a > img {
  width: 32px;
  height: 32px;
}

.grid-container > #notifiche > div {
  display: none;
}

.grid-container #notifiche .card {
  border: 2px solid #06acb8;
  border-radius: 10px;
}

.container-list{
  gap: 2rem;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .grid-container > div:nth-child(1) > button {
    width: 100% !important;
  }

  .grid-container {
    display: grid;
    gap: 2rem;
    grid-template-areas:
      "three three three one"
      "four four two two"
      "five five two two"
      "six six six six" !important;
    height: 100%;
  }

  .grid-container > #notifiche > a {
    display: none;
  }

  .grid-container > #notifiche {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .grid-container > #notifiche > div {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    overflow-y: auto;
    max-height: 75vh;
  }

  .grid-container > #notifiche > div > .row {
    justify-content: space-between;
    align-items: center;
  }

  .grid-container .btn.primary {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  nav.navbar {
    padding: 0 12px;
    justify-content: space-between;
  }

  nav.navbar .navbar-nav {
    position: static;
    background: none;
    border: none;
  }

  nav.navbar > form {
    margin: 0;
  }

  nav.navbar .nav-item {
    justify-content: start;
  }

  nav.navbar .nav-link > div {
    display: flex;
    text-decoration: none;
    color: black;
  }

  nav.navbar .nav-item > .nav-link.active > div {
    font-weight: bolder;
  }

  nav.navbar .nav-link > svg {
    display: none;
  }
}
