* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#categorie ul figure > img {
  height: 128px;
  object-fit: fill;
}

header > nav .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#carouselProdottiConsigliati {
  z-index: 5;
}

#carouselProdottiConsigliati .carousel-inner::-webkit-scrollbar {
  display: none;
}

/* 
@media screen and (min-width:768px){
  .navbar {
      margin: 0 10%;
  }
} */
